@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

/* Reset & Base Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/Users/aathimuthu/Downloads/Portfolios/athish-portfolio/public/endless-constellation.svg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); /* Gradient BG */
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button, a {
  transition: all 0.3s ease;
}

/* Optional Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ec4899; /* Tailwind pink-500 */
  border-radius: 10px;
}
